<h2>Quiz Taker</h2>

<h3>
  You are currently taking quiz: <strong>{{quiz.title}}</strong>
  <button class="btn btn-primary float-right"
          (click)="submitQuiz(quiz)">
    Submit
  </button>
</h3>

<ul class="list-group">
  <li *ngFor="let question of quiz.questions" class="list-group-item">
    <h4>
      {{question.title}}
      <span class="float-right">{{question.points}}</span>
    </h4>
    <p>{{question.description}}</p>
    <div [ngSwitch]="question.questionType">

      <app-true-false-question
        [question]="question"
        *ngSwitchCase="'TRUE_FALSE'">
      </app-true-false-question>

      <app-fill-blanks-question
        [question]="question"
        *ngSwitchCase="'FILL_BLANKS'">
      </app-fill-blanks-question>

      <app-multiple-choice-question
        [question]="question"
        *ngSwitchCase="'CHOICE'">
      </app-multiple-choice-question>

      <app-essay-question
        [question]="question"
        *ngSwitchCase="'ESSAY'">
      </app-essay-question>

    </div>
  </li>
</ul>

<div *ngIf="user.userType == 'admin'">
  <input [(ngModel)]="title" class="form-control" placeholder="Title">
  <input [(ngModel)]="points" class="form-control" placeholder="Points">
  <input [(ngModel)]="description" class="form-control" placeholder="Description">
  <button type="button" class="btn btn-primary"
          (click)="createQuestion(title, points, description)">Create True False Question
  </button>
</div>
