<div class="row">
  <h1>Submissions for
    {{quiz.title}}
  </h1>


  <ul class="list-group">
    <div *ngFor="let submission of submissions">
      <li class="list-group-item">
        <button class="btn-sm btn-success float-right mt-4 ml-4"
                routerLink="/quiz/{{submission.quiz._id}}/submission/{{submission._id}}">Answers
        </button>
        <div class="mb-3">
          <b>Submitted by: </b>
          <p class="float-right">{{submission.student.username}}</p>
        </div>
        <div class="mb-2">
          <b>Submitted at: </b>
          <p class="float-right">{{submission.timestamp}} </p>
        </div>
      </li>
    </div>
  </ul>
</div>
