<div>
  <h2>Login</h2>
  <input [(ngModel)]="username" class="form-control" placeholder="Username"/>
  <input [(ngModel)]="password" class="form-control" placeholder="Password"/>
  <button (click)="login(username, password)" class="btn btn-primary btn-block">
    Login
  </button>
  <div>
    <h6>Is an account something you would like?</h6>
  </div>
  <button (click)="goToRegister()" class="btn btn-success" href="../register/register.component.html" role="button">
    Register
  </button>
</div>
