<div xmlns="http://www.w3.org/1999/html">

  <h2>Courses</h2>


  <div class="row">
    <div class="col-6">
      <div *ngFor="let course of courses" class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{course.title}}</h5>
          </div>
          <button href="" class="btn btn-success" (click)="selectCourse(course)">View Sections</button>
        </div>
      </div>
    </div>

    <div class="col-4">
      <h2>Sections</h2>
      <ul class="list-group">
        <li
          *ngFor="let section of sections"
          class="list-group-item">
          {{section.title}}{{section.courseId}} {{section.seats}}
          <div *ngIf="user.username;else otherTemplate">
            <button (click)='enroll(section)'
                    class="float-right btn btn-primary">Enroll
            </button>
          </div>
          <ng-template *ngIf="!user.username" class="float-md-right" #otherTemplate>Please log in to enroll in a section</ng-template>

        </li>
      </ul>
      <div *ngIf="user.userType == 'admin'">
        <input [(ngModel)]="sectionTitle" class="form-control"
               placeholder="title">
        <input [(ngModel)]="sectionSeats" class="form-control" placeholder="seats">
        <button type="button" class="btn btn-primary" (click)="createSection(sectionTitle, sectionSeats)">Create
          Section
        </button>
      </div>
    </div>
  </div>
</div>
