<div class="container-fluid">
  <h2>Courses</h2>


  <div class="row">
    <div *ngFor="let course of courses" class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{course.title}}</h5>
          <a class="float-right btn btn-primary"
             href="/course/{{course.id}}">
            Enroll
          </a>
          <button href="" class="btn btn-dark" (click)="seeContents(course)"> See Contents</button>
        </div>
      </div>
    </div>
  </div>
</div>
