<div class="container-fluid">
  <h1>Welcome to Profile</h1>

  <p>Here Are Your Details</p>

  <div class="col-6">
    <p>Username</p>
    <input [(ngModel)]="username" class="form-control" placeholder="{{user.username}}" type="text"/>
    <p>Password</p>
    <input [(ngModel)]="password" class="form-control" placeholder="{{user.password}}" type="text"/>
    <p>Email</p>
    <input [(ngModel)]="email" class="form-control" placeholder="{{user.email}}" type="email"/>
    <button (click)="update(username, password, email)">Submit Changes</button>
  </div>


</div>
