#details {
  margin: 50px auto;
}

input[type=text] {
  width: 40%;
  padding: 30px 20px;
  margin: 8px 0px;
}

input[type=password] {
  width: 40%;
  padding: 30px 20px;
  margin: 8px 0px;
}

input[type=email] {
  width: 40%;
  padding: 30px 20px;
  margin: 8px 0px;
}
