<form id="details">
  <h1>Register</h1>
  <div class="form-group">
    <label for="userName"><h5>Enter Username</h5></label>
    <input [(ngModel)]="username" type="text" class="form-control" id="userName" placeholder="Username"
           name="username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1"><h5>Enter Password</h5></label>
    <input [(ngModel)]="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
           name="password">
    <small id="smallPassword" class="form-text text-muted">Please include numbers and stuff, yeah?</small>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1"><h5>Re-Type Password</h5></label>
    <input [(ngModel)]="password2" type="password" class="form-control" id="password2" placeholder="Re-Type Password"
           name="password2">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1"><h5>Enter Email</h5></label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="email"
           placeholder="Email Address" name="email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. Promise.</small>
  </div>
  <button type="submit" class="btn btn-primary" (click)="register(username, password, password2, email)">Register</button>
</form>

